@tailwind base;
@tailwind components;
@tailwind utilities;   

@font-face {
    font-family: 'Sporting Grotesque Regular';
    font-style: normal;
    font-weight: normal;
    src: url(/font/SportingGrotesque-Regular.woff);
    }
    

    @font-face {
    font-family: 'Sporting Grotesque Bold';
    font-style: normal;
    font-weight: normal;
    src: url(/font/SportingGrotesque-Bold.woff);
    }

html, body {
    scroll-behavior: smooth;
    
}

